h1 {
    background-color: black;
    text-align: center;
    color: #66aef2;
    font-size: 40px;
}
.english{
    color: powderblue;
    font-size: 30px;
    font-family: courier;
}
a{
    font-size: 20px;
}
.movies{
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}
footer{
    background-color: black;
    color: white;
    font-size: 20px;
    
}
.number{
    font-size: 10px;
    color: #ff9126;
}